<div id="<%= dom_id bike %>">
  <p>
    <strong>Brand:</strong>
    <%= bike.brand %>
  </p>

  <p>
    <strong>Wheels:</strong>
    <%= bike.wheels %>
  </p>

  <p>
    <strong>Usage:</strong>
    <%= bike.usage %>
  </p>

</div>
